<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
	<meta name="description" content="{{ .Site.Data.settings.description }}" />
	<!-- <meta name="robots" content="max-image-preview:large" /> -->
	<link rel="canonical" href="https://www.buscatucoche.com/" />
	<meta property="og:locale" content="es_ES" />
	<meta property="og:site_name" content="Buscatucoche | Coches de ocasión y KM0" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ .Site.Data.settings.title }}" />
	<meta property="og:description" content="{{ .Site.Data.settings.description }}" />
	<meta property="og:url" content="https://www.buscatucoche.com/" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ .Site.Data.settings.title }}" />
	<meta name="twitter:description" content="{{ .Site.Data.settings.description }}" />

	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	
	<style>
		:root {
			--main-color: {{ .Site.Data.colors.main_color }};
			--second-color: {{ .Site.Data.colors.second_color }};
			--body-color: {{ .Site.Data.colors.body_color }};
		}
	</style>
</head>

<body>

{{ partial "nav.html" . }}

<main class="content">
	{{ if .Params.seo.title_seo }}
		<h4>{{ .Params.seo.title_seo }}</h4>
	{{ end }}
