<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta content="{{ if .IsHome }}website{{ else }}article{{ end }}" property="og:type"/>

	<!-- App name -->
	<meta content="{{ .Site.Data.settings.title }}" name="application-name"/>
	<meta content="{{ .Site.Data.settings.title }}" property="og:site_name"/>

	<!-- Meta referrer tag -->
	<meta content='unsafe-url' name='referrer'/>

	<!-- Type of Twitter card -->
	<meta content='summary_large_image' name='twitter:card'/>

	<!-- Favicon -->
	<link href='{{ .Site.Data.settings.favicon }}' rel='icon' type='image/x-icon'/>

	<!-- URL canonical -->
	<meta content="{{ .Permalink }}" property='og:url'/>
	<link href="{{ .Permalink }}" rel='canonical'/>

	<!-- Description -->
	{{ if .Params.seo.description_seo }}
		<meta content='{{ .Params.seo.description_seo }}' property='og:description'/>
		<meta content='{{ .Params.seo.description_seo }}' name='description'/>
	{{ end }}

	<!-- Featured Image -->


	<!-- Title -->
	<meta content='{{ if .Params.seo.title_seo }}{{ .Params.seo.title_seo }}{{ else }}{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}{{ end }}' property='og:title'/>
	<meta content='{{ if .Params.seo.title_seo }}{{ .Params.seo.title_seo }}{{ else }}{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}{{ end }}' property='twitter:title'/>
	<title>{{ if .Params.seo.title_seo }}{{ .Params.seo.title_seo }}{{ else }}{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

	<!-- Style -->
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	
	<style>
		:root {
			--main-color: {{ .Site.Data.colors.main_color }};
			--second-color: {{ .Site.Data.colors.second_color }};
			--body-color: {{ .Site.Data.colors.body_color }};
		}
	</style>
</head>

<body>

{{ partial "nav.html" . }}

<main class="content">
	{{ if .Params.seo.title_seo }}
		<h4>{{ .Params.seo.title_seo }}</h4>
	{{ end }}
