<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ printf `<link rel="shortcut icon" href="%s">` ("favicon.ico" | absURL) | safeHTML }}
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <style>
		:root {
			--main-color: {{ .Site.Data.colors.main_color }};
			--second-color: {{ .Site.Data.colors.second_color }};
			--body-color: {{ .Site.Data.colors.body_color }};
		}
	</style>

    {{ $resources := slice -}}
    {{ $resources = $resources | append (resources.Get "css/style.min.css") -}}
    {{ $css := $resources | resources.Concat "css/style.css" }}
    {{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

    <link rel="canonical" href="{{ .Permalink }}" />
    <title>{{ .Title }}</title>

    {{ .Site.Data.advanced_options.before_head_close }}
</head>
